@page
@model RazorAssignment3.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<div class="row">
    <div class="col-md-12">
        <h4 class="text-center">About myself</h4>
        <div>
        <p>My name is Harshil Hingu and i live in vadodara a city situated in gujarat near the bank of river vishvamitri and it also 
        known as a Sanskari city.Also, it is well-known for <strong>LaxmiVillas palace of Gaekwad Dynasty.</strong> It's a city 
        where people use to celebrate all the festivals like diwali, holi, uttarayan, navratri and many more....!. Futhermore, 
        I live with my family my mother, father and a younger brother.</p></div>
        <div>
        <h4 class="text-center">Work expirence</h4>
        <p>Frankly, speaking i don't have any work expirence but sometimes i used to visit my father's shop where i work as a sales man.
       So therefore, i have good communication skills as well as proper marketing skills. But I have a dream 
       to work with a multinational companies whaere i can expirence struggle, achieve my goals 
       had lot of work as well as behavioural expirence.</p>
    <h4 class="text-center">Eduction experience</h4>
    <p>Recently i have completed 12th grade in sarswati school located in my area and where i achieved 76% with distinction 
        in each subjects and now i am pursuing in inernet application and web devlopment in canada with a well known St.Clair college.
    <h4 class="text-center">Why did I enroll in the program</h4>
        <p>The computer is one of the woderful innvention of human being. As from the childhood i have been keen Intrest in computer.
           But, at the early age i use to play with MS paint, games, word, excel and many more. However, now i started playing
           with html, css, data fundamental, c#, web programms and many. Also, scope is not limited in the area of computer it
           has a wide range of opportunity in this world of technology. So, finally this is the reason i choose the course 
           just in order to have a good and a bright future ahead.</p>
    <h4 class="text-center">Things about me</h4>
        <nav>
              <ul>
                <li>I am kind of person who easily communicate with other people and make a good relation with them.</li>
                <li>I love to have friends around me which are very supportive and help me in my bad times.</li> 
                <li>The best quality i have is to forgive people when they do anything wrong i give them a chance to correct on their mistake 
                    and won't reapet it again in future so this is the thing which people appreciate.</li>
                <li>I am a foodie person i explored many food items from which my favourite dish is pizza,farnkie,punjabi and so on.</li>
            </ul>
            </nav>
    </div>
</div>

