@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome to my new webpage";
}

<!-- <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> -->
<div class="row">
    <div class="col-md-12">
        <div class="banner">
            <img src="~/images/hobby.jpeg" />
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">Hobbies</h1>
        <br/>
        <p>My hobby is to watch television in my spare time but it never hinders my study. Even i gain many knowledge from it by
            watching chhanels like Animal Planet, Discovery,Discovery turbo,Discovery science and many more. Also, it gives us all the 
            information and happenings near the area as well as all around the world. Even sometimes i use to watch cartoons from where
            i can see the ability of animation and also the way cartoons are edited.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">Also Travelling</h1>
        <br/>
        <p><strong>I love to travel</strong> as i don't like to be static at one place for long. So i traveled to many different states in my
            country like kerala,himmachal pradesh,goa,kashmir and so on. I travell to the places which gives me peace and relax 
            my mind from my daily hectic sechdule. Also it gives knowledge about the local people living 
            living there we can explore their tradition as well as their culture I can explain my own 
            experience well recently i visited kerala where people use to be in their own tradition not following
            anyother states tradition. Kealian women wear white sari with golden borders which looks too 
            pretty as well as men wears kurta and lungi. So therefore, by travelling we can get differnet types 
            of knowledge. </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">Dream places</h1>
    <p>These are the place which i would like to visit in future i have a long time dream of visiting such 
    places where i can find peace and pleasure in deep.</p>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-4">
        <div class="Box">
            <br/>
            <h4>In India</h4>
            <hr>
            <ul>
                <li>Himmachal pradesh</li>
                <li>Kerala</li>
                <li>Leh ladak</li>
                <li>Madhya pradesh</li>
                <li>Shimla</li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="Box">
            <br/>
            <h4>Outside India</h4>
            <hr>
            <ul>
                <li>Canada</li>
                <li>Maldeives</li>
                <li>New york</li>
                <li>London</li>
                <li>Germany</li>
            </ul>
        </div>
    </div>
    <div class="row">
    <div class="col-md-4">
        <div class="Box">
            <br/>
            <h4>In India</h4>
            <hr>
            <ul>
                <li>Himmachal pradesh</li>
                <li>Kerala</li>
                <li>Leh ladak</li>
                <li>Madhya pradesh</li>
                <li>Shimla</li>
            </ul>
        </div>
    </div>
<br/>

